# Ignore everything
*

# But not these file types
!*.tex
!*.bib
!*.pdf

# Also ensure Git can traverse directories
!*/


# Don't these files specifically
!README.md
!.gitignore
!temp

# and just stuff I prefer to keep track of
!*.ipynb
!*.csv
!*.jpg
!*.png
!*.md

# HTML exports
# !*.html

# readme files
!readme

Key Topics in Artificial Intelligence/Assignment 1/*/*
Key Topics in Artificial Intelligence/Assignment 2/*/*