# Ignore everything
*

# But not these file types
!*.tex
!*.bib
!*.pdf

# Also ensure Git can traverse directories
!*/


# Don't these files specifically
!README.md
!.gitignore
!temp

# and just stuff I prefer to keep track of
!*.ipynb
!*.csv
!*.jpg
!*.png
!*.md

# temp: certain folders

1.1 - History and Philosophy of AI.ipynb

1.2 - Math Concepts.ipynb
bayesian_inference.jpg
bayesian_update.png
map.png
powerlaw.png

1.3 - Machine Learning.ipynb
house.csv

1.4 - Knowledge Based AI.ipynb
dutch_preprocessed.csv
Key Topics in Artificial Intelligence/Final Project/README.md
