# Everything
*

# Except these files types
!*.tex
!*.pdf
!*.bib
!*.md
!*.sty

# .gitignore itself
!.gitignore

# Make sure git can traverse directories
!*/


# exclude the large book PDF file
Deep_Fakes_A_Critical_Lexicon_for_Digital_Museolog.pdf
Deep_Fakes_A_Critical_Lexicon_for_Digital_Museolog_compressed.pdf